
    <div>
        <h1>{{ tituloNuevoObjeto }}</h1>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <input type="text" ngModel name="numeroOrden" placeholder="Ingrese el numero de orden..." />
            <br>
            <label>Seleccione estado del objeto: </label>
            <select ngModel name="estado">
                <option *ngFor="let unTipoDeEstado of tiposDeEstados">{{unTipoDeEstado}}</option>
            </select>
            <br>
            <label>Seleccione tipo de objeto: </label>
            <select ngModel name="tipoObjeto">
                <option *ngFor="let unTipoDeObjeto of tiposDeObjetos">{{unTipoDeObjeto.codigo}}</option>
            </select>
            <br>
            <input type="text" ngModel name="descripcion" placeholder="Ingrese la descripcion..." />
            <br>
            <input type="text" ngModel name="precio" placeholder="Ingrese el precio..." />
            <br>
            <br>
            <button type="submit">Ingresar</button>
        </form> 
    </div>
    
    <div>
        <h1>{{ tituloListadoObjeto }} </h1>
        <ul>
            <li *ngFor="let unObjeto of objetos" (click)="elegirObjeto(unObjeto)" >
                <span>
                    <label>Estado :</label>
                    {{ unObjeto.estado }}         
                </span> 
                 - <label>numero de Orden :</label> {{unObjeto.numeroOrden}}
                 - <label>tipo de Objeto :</label> {{unObjeto.tipoObjeto}}
                 - <label>descripcion :</label>{{unObjeto.descripcion}}
                 - <label>precio :</label>{{unObjeto.precio}}
            </li>  
          </ul>
    </div>
    <div>
        <h1>{{ tituloListadoObjetosEstado }}</h1>
        <input type="text"  [(ngModel)]='textoDeInput' placeholder="Ingrese un estado..." />
        <br>
        <button *ngIf ='textoDeInput' (click)="objetosEstado(textoDeInput)">Filtrar</button>
        <ul>
                <li *ngFor="let unObjeto of listobjetosEstado">
                    <span>
                        <label>Estado :</label>
                        {{ unObjeto.estado }} 
                                  
                    </span> - <label>numero de Orden :</label> {{unObjeto.numeroOrden}}
                     - <label>tipo de Objeto :</label> {{unObjeto.tipoObjeto}}
                     - <label>descripcion :</label>{{unObjeto.descripcion}}
                     - <label>precio :</label>{{unObjeto.precio}}
                </li>  
              </ul>
    </div>
    <mi-objeto [objetoDetalle]="objetoElegido"></mi-objeto>